.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  background-color: #000; 
  color: white;
}


.logo {
  display: flex;
  flex-direction: column;
  line-height: 1;
}

.step-text {
  font-size: 2rem;
  font-style: italic;
  font-weight: bold;
}

.ordering-text {
  font-size: 1.2rem;
  margin-left: 20px;
}

/* ნავიგაცია */
.nav-links {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-item {
  color: white;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}


.cart-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cart-badge {
  background-color: #ff0000;
  padding: 5px 15px;
  border-radius: 5px;
  font-weight: bold;
  position: relative;
}


.cart-badge::after {
  content: '';
  position: absolute;
  right: -8px;
  top: 50%;
  transform: translateY(-50%);
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #ff0000;
}

.scooter-icon {
  height: 30px;
  filter: invert(1); 
}